.hero {
  background-image: url('https://www.pexels.com/photo/beautiful-view-of-moraine-lake-2662116/');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30vh;
  width: 100%;
}
